body,div,ul,li,h3,h4,h5,h6,hr,span,p,a{
    margin: 0;
    padding: 0;
}
body{background: #ccc}
li,ul{list-style: none;}
a{text-decoration: none;}
img{border: none;}
.container{
    position: relative;
    width: 990px;
    margin: 10px auto;
    box-shadow: 0px -1px 10px 0px #2d2f3b;
    /*border-radius: 5px;*/
    background: #192233;
    display: table;
}
.contain_side_left{
    position: relative;
    float: left;
    width: 280px;
    height: 100%;
    background: #192233;
    box-sizing: border-box;
}
.person_photo{
    width: 160px;
    height: 160px;
    position: relative;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.person_photo img{
    position: absolute;
    top: -20px;
    left: -38px;
}
.contain_side_left h3{
    position: relative;
    font-size: 38px;
    color: #2af2cc;
    text-align: center;
    margin-top: 70px;
}
.side_left_contact li{
    line-height: 25px;
    padding-left: 30px;
}
.side_left_contact li a{
    font-size: 17px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.side_left_contact h4{
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.side_left_contact span{
    display: table-cell;
    vertical-align: middle;
    padding-right: 12px;
}


.Application h3{
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.Application p{
    padding-left: 38px;
    font-size: 25px;
    color: #fff;
}
.introduce{
    position: relative;
    margin-top: 40px;
    width: 280px;
}
.introduce_my{
    position: relative;
    width: 133px;
    height: 40px;
    border: 1px solid #2af2cc;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 30px;
    line-height: 34px;
    color: #2af2cc;
}
.vertical_line{
    width: 2px;
    height: 20px;
    background: #2af2cc;
    position: absolute;
    top: 30px;
    right: 5px;
}
.chinese_itr{
    color: #fff;
    line-height: 30px;
    font-size: 25px;
    width: 230px;
    margin: 20px auto 0;
}


.contain_side_right{
    position: relative;
    float: left;
    width: 710px;
    background: #202844;
    box-sizing: border-box;
}
.base_info {
    position: relative;
    width: 100%;
    margin-top: 46px;
}
.base_info h3{
    font-size: 30px;
    line-height: 30px;
    color: #2af2cc;
    padding-left: 20px;
    margin-bottom: 5px;
}
.base_info hr{
    width: 680px;
    background-color: #fff;
    margin: 0 auto;
}
.base_info ul{
    margin-left: 50px;
}
.base_info ul li{
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}
.Personal_skills{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Personal_skills h3{
    font-size: 30px;
    line-height: 30px;
    color: #2af2cc;
    padding-left: 20px;
    margin-bottom: 5px;
}
.Personal_skills hr{
    width: 680px;
    background-color: #fff;
    margin: 0 auto;
}
.Personal_skills ul{
    width: 100%;
    display: table;
    padding-left: 41px;
    box-sizing: border-box;
}
.Personal_skills ul li{
    font-size: 16px;
    color: #fff;
    position: relative;
}
.Personal_skills h4{
    font-size: 25px;
    line-height: 25px;
    padding-left: 12px;
    margin: 20px 0 10px 0;
    color: #38a793;
}
.Personal_skills .Per{
    width: 632px;
    border-left: 2px solid #2af2cc;
    margin: 0 auto;
    position: relative;
}
.Per h5{
    color: #e8eceb;
    font-size: 26px;
    line-height: 30px;
    margin-top: -5px;
}
.Per p{
    font-size: 17px;
    line-height: 28px;
}
.circle{
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #2af2cc;
    position: absolute;
    left: -50px;
    top: 5px;
}
.experience{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.experience h3{
    font-size: 30px;
    line-height: 30px;
    color: #2af2cc;
    padding-left: 20px;
    margin-bottom: 5px;
}
.experience ul li{
    font-size: 16px;
    color: #fff;
    position: relative;
    margin-left: 40px;
}
.experience hr{
    width: 680px;
    background-color: #fff;
    margin: 0 auto;
}
.experience h4{
    font-size: 25px;
    line-height: 30px;
    padding-left: 12px;
    margin: 20px 0 16px 0;
    color: #38a793;
}
.experience .exp{
    width: 632px;
    border-left: 2px solid #2af2cc;
    margin: 0 auto;
    position: relative;
}
.experience h5{
    color: #e8eceb;
    font-size: 26px;
    line-height: 30px;
    margin-top: -5px;
}
.experience p{
    font-size: 17px;
    line-height: 28px;
}
.footer{
    background: #ccc;
    text-align: center;margin: 30px 0;
}
.footer p{
    line-height: 20px;
}
































